body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.inline-switch {
  display: inline;
  margin-left: 2rem;
}

.switch {
  margin-bottom: 1rem;
}

.larger {
  font-size: 1.5rem;
}

nav.navbar, div.navmenu {
  display: flex;
}

nav.navbar {
  justify-content: space-between;
  padding: 0.4rem 2rem;
  align-items: center;
}

div.navmenu {
  justify-content: flex-end;
}

span.nav-brand {
  font-size: 1.4rem;
}

div.main {
  padding: 2vw;
  display: flex;
}

div.content {
  /* background-color: lightgray; */
  width: 100%;
}

a {
  color: black;
}

div.products-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 1vw 0;
}

div.product-item {
  margin: 0 0 2vw 0;
  background-color: white;
  width: 25vw;
  padding: 2vw;
  margin-right: 2vw;
}

.product-img {
  width: 21vw;
  height: 21vw;
}

.products-list-title{
  font-size: 2.0rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 4vw;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.product-price {
  text-align: center;
}

/* Sidebar */

div.sidebar-header {
  font-weight: bold;
  line-height: 1.2rem;
  margin: 1.5rem 0 0 0;
}

div.sidebar {
  width: 12vw;
  margin-right: 2vw;
  padding-top: 8vw;
}

.active-category {
  background: green;
  color: white;
}

.active-size {
  background: blue;
  color: white;
}

.inactive-category, .inactive-size {
  background: white;
  color: black;
}

.active-category, .inactive-category, .inactive-size, .active-size {
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 0.2rem;
}

.sidebar ul {
  margin-top: 0.5rem;
}

/* auth form */

#auth-form {
  margin-top: 4rem;
  padding: 2rem;
}